.container-form {
  display: flex;
  margin: 2rem 0;
  align-items: center;
  justify-content: center;
}

.input {
  background-color: #23224a;
  border-radius: 8px 0 0 8px;
  padding: 0.8rem;
}

.weatherSearch {
  border: none;
  width: 200px;
  color: white;
}

.weatherIcon {
  color: #cfcfcf;
  border-radius: 0 8px 8px 0;
}


.container-mid {
  margin: 3rem 0;
}